@media (min-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

body {
    margin: 0px;
    height: 100vh;
    background: linear-gradient(to bottom left, #FBEAFF, #C4FCEF);
    background-attachment: fixed;
}

body>h1 {
    margin: 75px 10px 0px 10px;
    text-align: center;
}

body>div {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.search {
    margin: 50px 10px 25px 10px;
}

.write {
    margin: 25px 10px 25px 10px;
}

input[type='text'] {
    height: 75px;
    width: 300px;
    margin: 10px 0px 10px 10px;
}

button {
    margin: 10px 10px 10px 0px;
}